@import "../resources/style/variables.scss";

.component-project {
  &.non-current {
    background-color: #cccccccc !important;

    .progressBar {
      background: repeating-linear-gradient(
        45deg,
        $strong-color,
        $strong-color 10px,
        $primary-color 10px,
        $primary-color 20px
      );
      div {
        background-color: transparent !important;
      }
    }
  }

  .filled {
    color: red;
  }

  img {
    border-bottom: solid $primary-color;
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
