$body-bg: #fcfcfc;
$body-color: #323838;
$strong-color: #323838;
$primary-color: #f28f1f;
$accent-color: #323838;
$error-color: #f30031;

$input-width: 280px;
$input-padding: 8px;

$navbar-height: 20px;
